main{
    width: 90%;
    /* max-width: 1000px; */
    margin: 0 auto;
    background: var(--color_icons);
    transform: translateX(30px) translateY(10px);
    border-radius: 5px;
}

@media screen and (max-width: 1000px) {
    main{
        transform: translateX(40px) translateY(10px);
        width: 80%;
        /* max-width: 300px; */
    }
    .navigation ul {
       transform: translateY(40px);
    }
}

@media screen and (max-width: 580px){
    main{
        transform: translateX(45px) translateY(10px);
        width: 80%;
        
    }
}

@media screen and (max-width: 500px){
    main{
        transform: translateX(45px) translateY(10px);
        width: 75%;   
    }
}

@media screen and (max-width: 525px){
    main{
        transform: translateX(45px) translateY(10px);
        width: 70%;   
    }
}

